header {
	background-color: steelblue;
}

body {
	background-color: snow;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

section div {
	border-radius: 5px;
	padding: 10px 5px;
	margin: 5px;
	background-color: white;
}

h1 {
	color: white;
}

img {
	height: 200px;
	width: auto;
	margin-bottom: 10px;


button {
	border-radius: 5x;
}