<!DOCTYPE html>

<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet", type="text/css" href="index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="app.js"></script>
		<title>Translator</title>
	</head>

	<body ng-app="app">
		<header class="shadow">
			<h1 class="text-center">Mr. Worldwide</h1>
		</header>

		<main ng-controller="ctr">

			<div class="container border shadow">
				<div class="row">
					<section class="input col-md-5">
						<h2>Source phrase</h2>
						<textarea cols="50" rows="4" placeholder="Enter an English phrase to translate" ng-model="phrase" ng-change="translate()"></textarea>
						<p id="errors">{{ errors }}</p>
					</section>
					<div class="col-md-2">
						<div id="options" class="border">
							<select ng-model="to" ng-change="translate()" ng-options="language.code as language.name for language in languages">
							</select>
							<button ng-click="archiveEntry()">Archive</button>
						</div>
					</div>
					<section class="output col-md-5">
						<h2>Translated phrase</h2>
						<p>{{ translation }}</p>
					</section>
				</div>
			</div>

			<div class="container d-flex flex-row justify-content-center">
				<div id="archive" class="border shadow">

					<div class="d-flex flex-row justify-content-between">
						<h3>Archive</h3>
						<button ng-click="clearArchive()">Clear</button>
					</div>
					
					<div class="row" ng-repeat="entry in archive">
						<div class="col-md-12">
							<p class="archive-in">{{ entry.input }}</p>
							<p class="archive-out">{{ entry.output }}</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
			
		</main>
	</body>
</html>