textarea {
  resize: none;
  width: 100%;
}

header {
	background-color: mediumseagreen;
	margin-bottom: 30px;
	padding: 10px;
}

button {
	display: inline-block;
	text-align: center;
	border: none;
	color: white;
	border-radius: 3px;
	font-size: 20px;
}

button:hover {
	cursor: pointer;
}

.container > .row {
	padding: 10px;
}

.container > div {
	padding: 20px;
}

section.input {
	border-left: 5px solid steelblue;
}

section.output {
	border-left: 5px solid mediumseagreen;
}

.archive-in {
	color: steelblue;
}

.archive-out {
	color: mediumseagreen;
}

h1 {
	color: white;
}

#errors {
	color: red;
}

#options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

#archive {
	width: 80%;
}

#archive p {
	margin: 5px;
}

.clear {
	background-color: tomato;
}

.clear:hover {
	background-color: darksalmon;
}

.swap {
	background-color: mediumseagreen;
}

.swap:hover {
	background-color: darkseagreen;
}

.archive {
	background-color: steelblue;
}

.archive:hover {
	background-color: cadetblue;
}
