textarea {
  resize: none;
  width: 100%;
}

header {
	background-color: mediumseagreen;
	margin-bottom: 30px;
	padding: 10px;
}

.container > .row {
	padding: 10px;
}

.container > div {
	padding: 20px;
}

section.input {
	border-left: 5px solid steelblue;
}

section.output {
	border-left: 5px solid mediumseagreen;
}

.archive-in {
	color: steelblue;
}

.archive-out {
	color: mediumseagreen;
}

h1 {
	color: white;
}

#errors {
	color: red;
}

#options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

#archive {
	width: 80%;
}

#archive p {
	margin: 5px;
}