<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Bootstrap and personal stylesheets-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet", type="text/css" href="index.css">

		<!-- Bootstrap scripts-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!-- AngularJS and personal scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="app.js"></script>

		<title>Translator</title>
	</head>

	<body ng-app="app">
		<header class="shadow">
			<h1 class="text-center">Mr. Worldwide</h1>
		</header>

		<main ng-controller="ctr">

			<!-- Main translation panel -->
			<div class="container border shadow">
				<div class="row">

					<!-- Source phrase area -->
					<section class="input col-md-5">
						<h2>Source phrase</h2>
						<textarea cols="50" rows="4" placeholder="Enter a phrase to translate" ng-model="phrase" ng-change="translate()"></textarea>
					</section>

					<!-- Middle language select area -->
					<div class="col-md-2">
						<div id="options" class="border rounded">
							<select ng-model="sourceLanguage" ng-change="translate()" ng-options="language.code as language.name for language in languages"></select>
							<button class="swap" ng-click="swapLanguages()">Swap</button>
							<select ng-model="targetLanguage" ng-change="translate()" ng-options="language.code as language.name for language in languages"></select>
							
						</div>
					</div>

					<!-- Translated phrase area-->
					<section class="output col-md-5">
						<div class="d-flex flex-row justify-content-between">
							<h2>Translated phrase</h2>
							<button class="archive" ng-click="archiveEntry()">Archive</button>
						</div>
						<p><a href="http://translate.yandex.com/">Powered by Yandex.Translate</a></p>
						<p>{{ translation }}</p>
					</section>
				</div>
			</div>

			<!-- Bottom archive list -->
			<div class="container d-flex flex-row justify-content-center">
				<div id="archive" class="border shadow">

					<div class="d-flex flex-row justify-content-between">
						<h3>Archive</h3>
						<button class="clear" ng-click="clearArchive()">Clear</button>
					</div>
					
					<div class="row" ng-repeat="entry in archive">
						<div class="col-md-12">
							<p class="archive-in">{{ entry.input }}</p>
							<p class="archive-out">{{ entry.output }}</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
			
		</main>


	</body>
</html>